/* Text */
h1, h2, h3 , h4, h5, h6 {
    font-family: 'Anton', sans-serif;
  }
  p {
    font-family: 'Jura', sans-serif;
  }
  
  /* Navigation bar */
  
  /* General */
  .customNav {
   
    width: 100%;
    /* background: url("/images/countriesworld.jpg"); */
    background-color: rgba(47, 255, 109, 0.685) !important;
    background-size: cover;
 
  }
  .navbar-nav {
    margin-left: auto;
    margin-right: 0 !important;
  }
  .navbar-brand img {
    padding-right: 0px;
    width: 100px;
  }
  .nav-item {
    margin: 0px 15px;
  }
  
  /* Navigation dropdown menu */
  .dropdown-menu {
    /* background: url("../images/transparency.png"); */
    background-color: rgba(0, 140, 255, 0.699) !important;
    background-size: cover;
  }
  .dropdown-item:focus, .dropdown-item:hover {
      color: #16181b;
      text-decoration: none;
      background: black;
  }
  
  /* Navigation links */
  .customNav a {
    color: rgb(255, 255, 255) !important;
  }
  .navCTA {
    font-size: 15px;
  }

  .dropdown-menu {
    left: -97px;
  }

  .carousel-inner {
    background-color: rgba(76, 0, 255, 0.89);
  }

   footer {
    position: absolute;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
    margin-top: 50px;
  }
  .cardContainer {
    margin-top: 20px;
  }
  .card {
    margin: 0 auto;
  }
  
  
  